@model Book 

<h2>Kitap Detayları</h2>
<div>
    <h4>Kitap Adı: @Model.BookName</h4>
    <p>Yazar: @Model.Author</p>
    <p>Yayınevi: @Model.Publisher</p>
    <p>Hakkında: @Model.AboutBook</p>
</div>
