@{
}

@model List<Book> // Modelimizin tipini belirtiyoruz

<h1>Kitap Listesi</h1>

<table>
    <thead>
        <tr>
            <th>Kitap Adı</th>
            <th>Yazar</th>
            <th>Çıkış Yılı</th>
            <th>Kapak</th>
            <!-- Diğer sütun başlıkları eklenebilir -->
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookName</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td><img width="200px" height="200px" src="@book.ImageLink"></img></td>
                <!-- Diğer sütunlar eklenebilir -->
            </tr>
        }
    </tbody>
</table>